export(MLRegressionBoosting)
export(MLRegressionKNN)
export(MLRegressionRandomForest)
export(MLRegressionRegularized)
export(MLClassificationBoosting)
export(MLClassificationKNN)
export(MLClassificationLDA)
export(MLClassificationRandomForest)
export(MLClusteringDensityBased)
export(MLFuzzyCMeans)
export(MLClusteringKMeans)
export(MLClusteringHier)
  import('kknn');
  import('Rtsne');
  import('colorspace');
  import('ppclust');
  import('gbm');
  import('dbscan');
  import('NbClust');
  import('factoextra');
